/* style-portfolio.css */
:root { 
  --primary-clr: rgb(77, 70, 90);
  --secondary-clr: rgb(110, 67, 67);
  --bg1-clr: rgb(128, 124, 118);
  --bg2-clr: rgb(31, 173, 52);
  --titles-clr: rgb(80, 7, 7);
  --texts-clr: rgb(17, 2, 2);
}

/*  Default setting for all elements */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
   

html {    
  /* Set font size for easy rem calculations
    * default document font size = 16px, 1rem = 16px, 100% = 16px
    * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

  
body {
  min-height: 100vh;
  max-width: 100vw;
  background-color: var(--bg1-clr);
  color: var(--primary-clr), black;
  font-family: 'Montserrat', 'Roboto', sans-serif;
  position: relative;
}

h1 {
  padding: 1rem;
  font-size: 500%;
  letter-spacing: 0.2rem;
  font-family: 'Roboto', sans-serif;
}

h2 {
  padding: 1rem;
  font-size: 300%;
  letter-spacing: 0.2rem;
  font-family: inherit;
}




/***** navingation ******/
nav#navbar {
  height: 30%;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  justify-content: flex-end;
  align-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--bg2-clr);

}

nav#navbar ul {
  list-style: none;
  
}

nav#navbar .nav-link {
  margin: 1.5rem;
  font-size: 2rem;
  font-weight: 900;
  text-transform: capitalize;
  border: none;
  background: transparent;
  transition: all 0.3s ease 0.2s;
  -webkit-transition: all 0.3s ease 0.2s;
  -moz-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  cursor: pointer;
  
}

.nav-link::hover {
  font-size: 2rem;
  background: var(--primary-clr);
}

.nav-link::hover {
  transition: background 0.3s ease-out;
  transform: translateX(2px);
}

/***** navingation ******/

/***** sections ******/

section#welcome-section { 
  min-height: 100vh;
  width: 100%;
  padding: 2rem;
  font: italic large "Roboto", serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-end;
  position: relative;  
}

section#projects {
  height: auto;
  width: 100%;  
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  font: 400 bold medium "Montserrat";
  background-color: var(--secondary-clr);
}


section#projects .project-tiles {
  padding: 2rem;
  display: grid;
  gap: 20px ;
  grid-template-columns:  200px 200px; 
  grid-template-rows: 200px 200px;
  
  grid-auto-rows: auto;
  position: relative; 
  border: 10px solid green;    
  
}

section#contact {
  height: 80%;
  width: 100%;
  font: italic large "Roboto", serif;
  text-align: center;
  display: block;
  position: relative; 
}

section#contact ul {
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-content: space-around;
}
section#contact ul li {
  list-style: none;  
}


footer#footer {
  height: 40%;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  justify-content: flex-end;
  align-content: space-between;
  background-color: var(--bg2-clr);
}

/*   grid layout */

.body-container {  
  min-height: 100vh; 
  width: 100%;
  display: grid;  
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;  
  align-items: stretch;   
  grid-template-areas: 
    "A A A A" 
    "B B B B"
    "C C C C" 
    "D D D D"   
    "E E E E";
  position: relative;
} 

.nav {  
  grid-area: A;
  
}

.content-1 {  
  grid-area: B;
  
}

.content-2 {  
  grid-area: C;    
}

.content-3 {  
  grid-area: D;
}

.footer {
  grid-area: E;    
}
/* end grid laout */


/***** sections ******/

/***** Media ******/
@media only screen
and (max-width : 480px) { 
  h1 {
    padding: 1rem;
    font-size: 400%;
    letter-spacing: 0.2rem;
    word-wrap: break-word;
    font-family: 'Roboto', sans-serif;
  }
  
  h2 {
    padding: 1rem;
    font-size: 200%;
    letter-spacing: 0.2rem;
    word-wrap: break-word;
    font-family: inherit;
  }
nav#navbar {  
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  justify-content: flex-start;
  align-content: space-between;
}
}